

.container {
    background-color: cadetblue;

}


.container__nav a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.container__body {
    background-color: darkcyan;
}

h1 {
    color: #f0f1f9;
}


.container__footer {
    background-color: cadetblue;

}