<!DOCTYPE html>
<html lang="en" xmlns: th="//www.thymeleaf.org/"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>

<body>

<h1 th:text="${title}">Default Title</h1>

<a href="/blog">Add A Post</a>
<a href="/category">Add A Category</a>
<a href="/tags">Add A tag</a> <br>


<label for="authors">
    <select id="authors">
        <option>author1</option>
        <option>author2</option>
        <option>author3</option>
    </select>
</label>

<form method="post">

    <input type="text" name="authorName" placeholder="name"/>
    <input type="text" name="authorPost" placeholder="Post"/>
    <input type="submit" value="Add yourself as an author"/>

</form>


</body>

</html>