<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org/"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <meta charset="UTF-8">
    <title th:text="${author.getName()}">Author</title>
</head>

<body class="container">

<div class="container__nav">
    <a href="/category/all-categories">Add Categories</a>
    <a href="/tag/all-tags">Add Tags</a>
    <a href="/post/all-posts">Add A Post</a>
</div>

<div class="container__body">

    <h1 th:text="${author.getName()}">Authors</h1>
    <h3 th:each="post: ${author.getPosts()}">
        <a th:text="${post.getTitle()}" th:href="@{'/post/' + ${post.getId()}}">Post</a>
    </h3>

    <form action="/author/add" method="post">

        <input type="text" name="authorName" placeholder="name"/>
        <button type="submit"> Add yourself as an author</button>

    </form>

</div>

<footer class="container__footer">
    <h3><a href="/">Home</a></h3>
</footer>
</body>

</html>