<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <meta charset="UTF-8">
    <title>Author</title>
</head>

<body class="container">


<div class="container__nav">
    <a href="/category/all-categories">Add Categories</a>
    <a href="/tag/all-tags">Add Tags</a>
    <a href="/post/all-posts">Add A Post</a>
</div>

<div class="container__body">
    <div class="container___body__info">
        <div th:each="author : ${authors}" th:remove="tag">
            <a th:text="${author.name}" th:href="'/author/single-author/' + ${author.name}"></a>
        </div>

        <form action="/author/add" method="post">

            <input type="text" name="authorName" placeholder="name"/>
            <button type="submit"> Add yourself as an author</button>

        </form>
    </div>
</div>


<footer class="container__footer">
    <h3><a href="/">Home</a></h3>
</footer>

</body>

</html>