<!DOCTYPE html>
<html lang="en" xmlns: th="//www.thymeleaf.org/"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>

<body>

<h1 th:text="${title}">Default Title</h1>

<a href="/blog">Add A Post</a>
<a href="/tags">Add A tag</a>
<a href="/author">Add An author</a> <br>

<label for="categories">
    <select id="categories">
        <option>category1</option>
        <option>category2</option>
        <option>category3</option>
    </select>
</label>

<form method="post">

    <input type="text" name="categoryName"/>
    <input type="text" name="categoryPost"/>
    <input type="submit" value="Add A Category"/>

</form>


</body>

</html>