<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org/"
>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <meta charset="UTF-8">
    <title>Blog Post</title>
</head>

<body class="container">

<div class="container__nav">
    <a href="/author/all-authors">Add Authors</a>
    <a href="/category/all-categories">Add Categories</a>
    <a href="/tag/all-tags">Add Tags</a>
    <a href="/post/all-posts">Add A Post</a>
</div>

<div class="container__body">
</div>

<h1 class="container__body__welcome">Welcome</h1>


<footer class="container__footer">
    <h3><a href="/">Home</a></h3>
</footer>

</body>

</html>