<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <meta charset="UTF-8">
    <title th:text="${post.title}">Post</title>
</head>

<body class="container">

<div class="container__nav">
    <a href="/author/all-authors">Authors</a>
    <a href="/category/all-categories">Categories</a>
    <a href="/tag/all-tags">Tags</a>
</div>


    <div class="container__body">
        <div class="container___body__info2">
            <h1> Blog Post</h1>


            <h1 th:text="${post.title}">Default Title</h1>
            <h2 th:text="${post.body}">Default Body</h2>


            <div th:each="author : ${post.getAuthors()}" th:remove="tag">
                <a th:text="${author.name}" th:href="@{'/author/' + ${author.id}}">Author</a></p>
            </div>

            <div th:each="category : ${post.categories}" th:remove="tag">
                <p><a th:text="${category.name}" th:href="@{'/category/' + ${category.id}}">Category</a></p>
            </div>

            <div th:each="tag : ${post.tags}" th:remove="tag">
                <p><a th:text="${tag.name}" th:href="@{'/tag/' + ${tag.getId()}}">Tags</a></p>
            </div>
        </div>
    </div>
</div>

<footer class="container__footer">
    <h3><a href="/">Home</a></h3>
</footer>

</body>

</html>