<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org/"
      xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <meta charset="UTF-8">
    <title>Posts</title>

</head>

<body class="container">
<!--<h1>Blog Posts</h1>-->

<div class="container__nav">
    <a href="/author/all-authors">Add Authors</a>
    <a href="/category/all-categories">Add Categories</a>
    <a href="/tag/all-tags">Add Tags</a>
</div>

<div class="container__body">
    <label for="author">
        <select id="author">
            <option>Bob</option>
        </select>
    </label>


    <label for="categories">
        <select id="categories">
            <option>Water</option>
    </select>
</label>

<label for="tags">
    <select id="tags">
        <option>Fresh</option>
    </select>
</label>

    <br>

    <div th:each="post : ${posts}" th:remove="tag">
        <a th:text="${post.title}" th:href="'/post/single-post/' + ${post.id}"></a>
        <!--    <a th:text="$post.body}" th:href="'/post/single-post/' + ${post.title}"></a>-->
        <!--    <a th:text="$post.publishedDate}" th:href="'/post/single-post/' + ${post.body}"></a>-->


    </div>
    <form method="post" action="/post/add">

        <input type="text" name="postTitle" placeholder="Post Title"/> <br>
        <input type="text" name="postBody" placeholder="Post"/> <br>

        <input type="submit" value="Add A Post!"/>


    </form>

</div>

<!--<div th:each="post : ${posts}">-->

<!--    <h1 class="post__title"><a th:text="${post.getTitle}" th:href="@{'/post/' + ${post.getId()}}">Default-->
<!--        Title</a></h1>-->
<!--&lt;!&ndash;    <h3 th:text="${post.publishedDate}" class="post__publishedDate">Default publishedDate</h3>&ndash;&gt;-->

<!--    <p th:text="${post.getBody()}">Body</p>-->

<!--</div>-->

<footer class="container__footer">
    <h3><a href="/">Home</a></h3>
</footer>

</body>

</html>