<!DOCTYPE html>
<html lang="en" xmlns: th="//www.thymeleaf.org/"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>

<body>

<h1 th:text="${title}">Default Title</h1>

<a href="/blog">Add A Post</a>
<a href="/category">Add A Category</a>
<a href="/author">Add An author</a>


<form method="post">

    <input type="text" name="tagsName" placeholder="name"/>
    <input type="text" name="tagsPost" placeholder="post"/>
    <input type="submit" value="Add A Tag"/>

</form>


</body>

</html>