<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns="http://www.w3.org/1999/xhtml">
<head></head>

<body>

<h1>Tags</h1>


<a href="/category/all-categories">Add Categories</a> <br>
<a href="/author/all-authors">Add yourself as an Author</a> <br>
<a href="/post/all-posts">Add A Post</a> <br>

<div th:each="tag : ${tags}">
    <a th:text="${tag.name}" th:href="'/tag/single-tag/' + ${tag.name}"></a>
</div>

<form action="/tag/add" method="post">

    <input type="text" name="tagName" placeholder="name"/>
    <button type="submit"> Add tag</button>

</form>


</body>

</html>